APP_DOMAIN=example.co.uk
WWW_DOMAIN=www.example.co.uk
APP_SUBDOMAIN=app.example.co.uk
API_SUBDOMAIN=api.example.co.uk

POSTGRES_DB=ekdb
POSTGRES_USER=ekuser
POSTGRES_PASSWORD=change_me

NODE_ENV=development
OPENAI_API_KEY=replace_me
